<ul>
  <li></li>
  <li id="social">
    <a href="mailto:heidar@iseld.org" title="Email: heidar@iseld.org"><i class="icon-envelope icon-2x"></i></a>
    <a href="https://github.com/heidar" title="GitHub: @heidar"><i class="icon-github icon-2x"></i></a>
    <a href="https://twitter.com/heidarb" title="Twitter: @heidarb"><i class="icon-twitter icon-2x"></i></a>
    <a href="http://www.linkedin.com/in/heidar" title="LinkedIn: uk.linkedin.com/in/heidar"><i class="icon-linkedin icon-2x"></i></a>
  </li>
</ul>