doctype html
html(lang="en")
  head
    title Heidar Bernhardsson - Entrepreneur, Designer, Developer & DevOps Engineer
    script(src='main.js')
    link(rel='stylesheet', href='main.css')
  body
    main
      .container
        .items.row
          .item.col-md-3
            p Job 1
          .item.col-md-3
            p Job 2
          .item.col-md-3
            p Job 3
        .items.row
          .item.col-md-3
            p Job 4
          .item.col-md-3
            p Job 5
          .item.col-md-3
            p Job 6
        .items.row
          .item.col-md-3
            p Job 7
          .item.col-md-3
            p Job 8
          .item.col-md-3
            p Job 9
        .items.row
          .item.col-md-3
            p Job 10
          .item.col-md-3
            p Job 11
    footer
