doctype html
html(lang="en")
  head
    title Heidar
    link(rel='stylesheet', href='main.css')
    link(href='https://fonts.googleapis.com/css?family=Ubuntu:300,700' rel='stylesheet' type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    main
      .container
        .row
          .profile.col-xs-8.col-xs-offset-2.col-md-2.col-md-offset-5
            img(src='images/profile.jpg', alt='Heidar Bernhardsson').img-responsive.img-circle.profile-photo
        .row
          .icons.col-xs-12.col-sm-12.text-center
            a(href='mailto:heidarbn@gmail.com', target='_blank').fa.fa-envelope-o
            a(href='https://facebook.com/heidar', target='_blank').fa.fa-facebook
            a(href='https://twitter.com/heidarb', target='_blank').fa.fa-twitter
            a(href='https://instagram.com/heidarob', target='_blank').fa.fa-instagram
            a(href='https://github.com/heidar', target='_blank').fa.fa-github
            a(href='https://medium.com/@heidar', target='_blank').fa.fa-medium
        .row
          .about.col-xs-12.col-xs-offset-0.col-md-6.col-md-offset-3
            p.about-text.text-center
              | My name is Heidar. I'm currently working on #[a(href='https://presspanda.com', target='_blank') PressPanda], #[a(href='http://skatedecor.com', target='_blank') Skatedecor] and #[a(href='https://www.truckplease.com', target='_blank') TruckPlease]. Previously I made #[a(href='https://press.farm', target='_blank') pressfarm] and sold it. I write about programming and startups on my #[a(href='https://medium.com/@heidar', target='_blank') blog]. Follow my life on #[a(href='https://twitter.com/heidarb', target='_blank') Twitter], #[a(href='https://instagram.com/heidarob', target='_blank') Instagram] and heidarob on Snapchat.
    script(src='main.js' type='text/javascript')
