doctype html
html(lang="en")
  head
    title Heidar Bernhardsson
    link(rel='stylesheet', href='main.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster')
  body
    main
      .container
        .row
          .profile.col-md-4.col-md-offset-4
            img(src='images/profile.png', alt='Heidar Bernhardsson').image-reposnive.img-circle.profile-photo
        .row
          .about.col-md-4.col-md-offset-4
            h1.name Heidar Bernhardsson
        .row
          .icons.col-md-4.col-md-offset-4
            a(href='mailto:heidarbn@gmail.com', target='_blank').fa.fa-envelope-o
            a(href='https://angel.co/heidarb', target='_blank').fa.fa-angellist
            a(href='https://twitter.com/heidarb', target='_blank').fa.fa-twitter
            a(href='https://medium.com/@heidar', target='_blank').fa.fa-medium
            a(href='https://stackoverflow.com/users/4770080/heidar', target='_blank').fa.fa-stack-overflow
            a(href='https://facebook.com/heidar', target='_blank').fa.fa-facebook
            a(href='https://instagram.com/heidarob', target='_blank').fa.fa-instagram
