doctype html
html(lang="en")
  head
    title Heidar Bernhardsson
    script(src='main.js')
    link(rel='stylesheet', href='main.css')
  body
    main
      .container
        .row
          .profile.col-md-4.col-md-offset-4
            img(src='images/profile.png', alt='Heidar Bernhardsson').image-reposnive.img-circle.profile-photo
        .row
          .about.col-md-4.col-md-offset-4
            p Heidar
    footer
