doctype html
html(lang="en")
  head
    title Heidar
    link(rel='stylesheet', href='main.css')
    link(href='https://fonts.googleapis.com/css?family=Ubuntu:300,700' rel='stylesheet' type='text/css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0'
  body
    main
      .container
        .row
          .profile.col-xs-8.col-xs-offset-2.col-md-2.col-md-offset-5
            img(src='images/profile.jpg', alt='Heidar Bernhardsson').img-responsive.img-circle.profile-photo
        .row
          .icons.col-xs-12.col-sm-12.text-center
            a(href='mailto:heidarbn@gmail.com', target='_blank').fa.fa-envelope-o
            a(href='https://facebook.com/heidar', target='_blank').fa.fa-facebook
            a(href='https://twitter.com/heidarb', target='_blank').fa.fa-twitter
            a(href='https://instagram.com/heidarob', target='_blank').fa.fa-instagram
            a(href='https://medium.com/@heidar', target='_blank').fa.fa-medium
            a(href='https://stackoverflow.com/users/4770080/heidar', target='_blank').fa.fa-stack-overflow
            a(href='https://angel.co/heidarb', target='_blank').fa.fa-angellist
        .row
          .about.col-xs-12.col-xs-offset-0.col-md-6.col-md-offset-3
            p.about-text.text-center
              | My name is Heidar. I currently work on #[a(href='https://nomadloot.com', target='_blank') Nomad Loot] and #[a(href='http://skatedecor.com', target='_blank') Skatedecor]. Previously I made #[a(href='https://www.truckplease.com', target='_blank') TruckPlease] and #[a(href='https://press.farm', target='_blank') pressfarm] but I no longer work on them. I write about programming and startups on my #[a(href='https://medium.com/@heidar', target='_blank') blog]. Follow my adventures on #[a(href='https://twitter.com/heidarb', target='_blank') Twitter] and #[a(href='https://instagram.com/heidarob', target='_blank') Instagram].
    script(src='main.js' type='text/javascript')
