html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background-image: url(images/bg.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile {
  margin-top: 150px;
}

.icons {
  margin-top: 20px;
  a {
    color: white;
    font-size: 35px;
    padding: 0 8px;
    &:hover, &:focus {
      outline: none;
      text-decoration: none;
    }
  }
}

.about {
  margin-top: 20px;
  .about-text {
    color: white;
    font-family: Ubuntu, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8;
    a {
      color: white;
      font-weight: 700;
    }
  }
}
