html {
  height: 100%;
}

body {
  height: 100%;
  background-image: url(images/bg.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
}

.icons {
  margin-top: 60px;
  a {
    color: white;
    font-size: 72px;
    padding: 0 20px;
    &:hover, &:focus {
      outline: none;
      text-decoration: none;
    }
  }
}

.about {
  margin-top: 60px;
  .about-text {
    color: white;
    font-family: Ubuntu, sans-serif;
    font-size: 50px;
    font-weight: 300;
    line-height: 1.8;
    a {
      color: white;
      font-weight: 700;
    }
  }
}

@media (min-width: 992px) {
  body {
    margin-top: 150px;
  }

  .icons {
    margin-top: 20px;
    a {
      font-size: 35px;
      padding: 0 8px;
    }
  }

  .about {
    margin-top: 20px;
    .about-text {
      font-size: 20px;
    }
  }
}
