// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background-color: #f8f8f8;
}

body { 
  > header {
    display: none;
  }

  > footer {
    background: transparent;
  }
}

$border: #e4e4e4;

body > nav {
  border-left: 1px solid $border;
  border-right: 1px solid $border;
  border-top: 1px solid $border;
}

#main {
  background: #f2f2f2;
  border-left: 1px solid $border;
  border-right: 1px solid $border;
}

#content {
  background: #f8f8f8;
}

#social {
  padding-left: 1.8em;
  word-spacing: 0.6em;
  a {
    text-decoration: none;
    font-size: 0.8em;
  }
}